.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
      overflow: hidden;
    background: #c2ab82;
    color: #333;
      font-family: 'Open Sans', Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .center {
     position: absolute;
     top: 50%;
     left: 50%;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 25px;
      background: #67013a;
  animation: bobble 5s infinite;
  }
  
  #main {
      transition-timing-function: ease;
  }
  
  #two {
      background: #67013a;
      animation: bobble 5s infinite;
      animation-delay: 25ms;
      filter: blur(1px);
          opacity: .5;
  }
  
  #three {
      background: #67013a;
      animation: bobble 5s infinite;
      animation-delay: 35ms;
      filter: blur(1px);
          opacity: .3;
  }
  
  #four {
      background: #67013a;
      animation: bobble 5s infinite;
      animation-delay: 45ms;
      filter: blur(1px);
      opacity: .1;
  }
  
  #five {
      background: #67013a;
      animation: bobble 5s infinite;
      animation-delay: 45ms;
      filter: blur(1px);
      opacity: .09;
  }
  
  
  @keyframes bobble {
    0%
    {
      left: 0;
      box-shadow: 0 0 0 rgba(103,1,58,0);
    }
    5%
    {
      left: 0;
      transform-origin: 0 0;
      transform: scaleX(0.85);
    }
    25%
    {
      box-shadow: -15px 0 10px -5px rgba(103,1,58,0.5);
      transform: scaleX(1.1) skewX(-4deg);
    }
    50%
    {
      left: 300px;
      box-shadow: 0 0 0 rgba(103,1,58,0);
      transform: scaleX(1) skewX(0deg);
    }
    55%
    {
      left: 300px;
      transform-origin: 100% 0;
      transform: scaleX(0.85);
    }
    75%
    {
      box-shadow: 15px 0 10px -5px rgba(103,1,58,0.5);
      transform: scaleX(1.1) skewX(4deg);
    }
      100%
    {
      left: 0px;
      box-shadow: 0 0 0 rgba(103,1,58,0);
      transform: scaleX(1) skewX(0deg);
    }
  }